<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/header.css" type="text/css" />
    <link rel="stylesheet" href="../styles/footer.css" type="text/css" />
    <link rel="stylesheet" href="../styles/boatRentals.css" type="text/css" />

    <title>Downtown Marina</title>
  </head>
  <body>
    <header class="header"></header>
    <div class="banner-overlay">
      <div class="banner">
      </div>
      <h1 class="page-title">BOAT RENTALS</h1>
    </div>
    <div class="brands">
      <img class="rope" src="/repository/images/boatRentals/DM-BoatBrands-Chaparral-300pxW.png" alt="brands">
      <img class="rope" src="/repository/images/boatRentals/DM-BoatBrands-Cobalt-300pxW.png" alt="brands">
      <img class="rope" src="/repository/images/boatRentals/DM-BoatBrands-MasterCraft-300pxW.png" alt="brands">
      <img class="rope" src="/repository/images/boatRentals/DM-BoatBrands-Premier-Pontoons-300pxW.png" alt="brands">
      <img class="rope" src="/repository/images/boatRentals/DM-BoatBrands-Sea-Doo-300pxW.png" alt="brands">
      <img class="rope" src="/repository/images/boatRentals/DM-BoatBrands-South-Bay-300pxW.png" alt="brands">
      <img class="rope" src="/repository/images/boatRentals/DM-BoatBrands-SunChaser-300pxW.png" alt="brands">
      <img class="rope" src="/repository/images/boatRentals/DM-BoatBrands-Templar-Electric-300pxW.png" alt="brands">
      <img class="rope" src="/repository/images/boatRentals/DM-BoatBrands-Yamaha-300pxW.png" alt="brands">
    </div>
    <div class="beachy">
      <div class="slide2"></div>
      <div class="feeling">
        <img src="/repository/images/home/Doodle-Birds.svg" alt="jump in">
        <article class="articles">
          <div>
            <h1>ALL ABOARD</h1>
          </div>
          <p>Want to skim the waves and seek out hidden beaches on a Sea-Doo? No problem. <br>Dying to try wakesurfing, wakeboarding, waterskiing or tubing? We've got you covered.</p>
          <p>Our fleet of boat rentals in Kelowna is the perfect way to explore Okanagan Lake. From high-end MasterCrafts and tow boats to Chaparral bowriders, from kayaks to paddle boards, Kelowna Downtown Marina can get you on the lake affordably and in style.</p>
          <p>Take a cruide through our boats for rent - there is something for everyone, every family, every sun-lover.</p>
        </article>
      </div>
    </div>
    <div class="isotope-container">
      <div class="menu">
        <ul>
          <li class="active" data-filter="*">ALL</li>
          <li data-filter=".wakesurf">WAKESURF + WAKEBOARD</li>
          <li data-filter=".bowrider">BOWRIDER</li>
          <li data-filter=".pontoon">PONTOON</li>
          <li data-filter=".jet-ski">JET SKI</li>
          <li data-filter=".kayaks">KAYAKS + PADDLE BOARDS</li>
        </ul>
      </div>
      <div class="items"></div>
    </div>
    <div class="beachy">
      <div class="slide3">
        <article class="articles">
          <div>
            <h1>TUBES, SKIS, AND<br> WAKEBOARDS</h1>
          </div>
          <p>Make a bigger splash on Okanagan Lake with water toys!<br> Kelowna Downtown Marina has a great selection of tubes, wake surf boards, water skids, and wakeboards for you to add to your boat rental.</p>
          <p>Renting a boat for a day or more? We're happy to give you a free accessory with your rental.</p>
          <div class="tube-rates">
            <h2>PER HOUR</h2>
            <div>
              <div>1HR:</div>
              <div>$15</div>
            </div>
            <div>
              <div>2HRS:</div>
              <div>$20</div>
            </div>
            <div>
              <div>4HRS:</div>
              <div>$40</div>
            </div>
          </div>
         </article>
      </div>
      <div class="tubes"></div>
    </div>
    <h1 class="faq">FAQ</h1>
    <div class="faq"></div>
    <footer class="footer"></footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="/repository/scripts/header.js"></script>
    <script type="text/javascript" src="/repository/scripts/footer.js"></script>
    <script type="text/javascript" src="/repository/scripts/boatRentals.js"></script>
    <script type="text/javascript" src="/repository/scripts/boatDetails.js"></script>
  </body>
</html>