<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/home.css" type="text/css" />

    <title>Downtown Marina</title>
  </head>
  <body>
    <header class="header">
      <div class="logo">
        <img src="/Elements/00 Global/Downtown-Marina-Logo.svg" alt="logo">
      </div>
      <nav class="nav">
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link" href="#">BOAT RENTALS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">BOAT TOURS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">MOORAGE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">FUEL + RETAIL</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">PHOTOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">NEWS + TIPS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">CONTACT</a>
          </li>
        </ul>
      </nav>
      <div class="book">
        <div class="hang10">
          <img src="/Elements/00 Global/Doodle-Hang-Loose.svg" alt="hangLoose">
        </div>
        <a class="book-link">BOOK ONLINE</a>
      </div>
    </header>

    <div class="introPage">
      <div class="weather">temp</div>
      <div class="intro">The Fun Starts Here</div>
      <div class="jumpIn">
        Jump in
        <!-- <img src="/repository/images/icons/Jump-In.svg" alt="jump in"> -->
      </div>
      <div class="bubble">
        <img class="arrowCircle" src="/repository/images/icons/arrow-circle-bottom.svg" alt="icon name">
        
      </div>
      
    </div>

    <h1 class="wave">LIVE THE LAKE LIFE</h1>
    <img class="wave" src="/Elements/00 Global/Doodle-Wave.svg" alt="jump in">
    <p class="wave"> amet volutpat consequat mauris nunc congue nisi vitae suscipit tellus mauris a diam maecenas sed enim ut sem viverra aliquet eget sit amet tellus cras adipiscing enim eu turpis egestas pretium</p>
    
    <!-- First Grid -->
    <div class="container-fluid">
      <div class="row">
        <div class="w-20">
          <img class="img-fluid" src="/Elements/01 Home/DM-Rental-Categories-Wakesurf-Wakeboard.jpg" alt="jump in">
          <p>Wakesurf + Wakeboard</p>
        </div>
        <div class="w-20">
          <img class="img-fluid" src="/Elements/01 Home/DM-Rental-Categories-Bowrider.jpg" alt="jump in">
          <p>Wakesurf + Wakeboard</p>
        </div>
        <div class="w-20">
          <img class="img-fluid" src="/Elements/01 Home/DM-Rental-Categories-Pontoon.jpg" alt="jump in">
          <p>Wakesurf + Wakeboard</p>
        </div>
        <div class="w-20">
          <img class="img-fluid" src="/Elements/01 Home/DM-Rental-Categories-Jet-Ski.jpg" alt="jump in">
          <p>Wakesurf + Wakeboard</p>
        </div>
        <div class="w-20">
          <img class="img-fluid" src="/Elements/01 Home/DM-Rental-Categories-Kayaks-Paddleboards.jpg" alt="jump in">
          <p>Wakesurf + Wakeboard</p>
        </div>
      </div>
    </div>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>