<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/home.css" type="text/css" />

    <title>Downtown Marina</title>
  </head>
  <body>
    <header class="header">
      <div class="logo">downtown Marina Kelowna Logo</div>
      <nav class="nav">
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link" href="#">BOAT RENTALS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">BOAT TOURS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">MOORAGE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">FUEL + RETAIL</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">PHOTOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">NEWS + TIPS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">CONTACT</a>
          </li>
        </ul>
      </nav>
      <div class="book">Hang Ten - Book online</div>
    </header>

    <div class="introPage">
      <div class="weather">temp</div>
      <div class="intro">The Fun Starts Here</div>
      <div class="jumpIn">
        <svg xmlns="http://www.w3.org/2000/svg" width="152" height="41" viewBox="0 0 152 41">
          <defs>
            <style>
              #Jump_in {
                font-size: 25px;
                fill: #fff;
                font-family: "Rocket Clouds";
              }
            </style>
          </defs>
          <text id="Jump_in" data-name="Jump in" class="cls-1" x="0.469" y="27.008">Jump in</text>
        </svg>
      </div>
      <div class="bubble">
        <svg xmlns="http://www.w3.org/2000/svg" width="52.375" height="36.16" viewBox="0 0 52.375 36.16">
          <defs>
            <style>
              #Text_Bubble_Tail {
                fill: #0080c8;
                fill-rule: evenodd;
              }
            </style>
          </defs>
          <path id="Text_Bubble_Tail" data-name="Text Bubble Tail" class="cls-1" d="M174.614,3254.58s9.935,19.62,23.748,21.66c17.449,2.56,27.94-4.89,27.94-4.89l0.7-30.74s-8.588,17.5-25.145,19.56C184.919,3262.27,174.614,3254.58,174.614,3254.58Z" transform="translate(-174.625 -3240.62)"/>
        </svg>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>