<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Downtown Marina</title>
  </head>
  <body>
    <header></header>
    <svg tabindex="1" style="width: 100%; height: 2000px">

      <g id="hexfield">
        <polygon points="0,0 650,0 350,2000 0,2000"/>
        <polygon id="another" points="650,0 1300,0 1300,2000 350,1000"/>
      </g>
      
        <defs>
          <pattern id="image1" height="100%" width="100%" viewBox="0 0 640 640">
            <image width="640" height="640" xlink:href="https://github.com/davidRamalho/TCM-DTMarina/blob/master/images/Downtown-Marina-Moorage-Dawn-1600pxW.jpg"/>
          </pattern>
          <pattern id="image2" height="100%" width="100%" viewBox="0 0 640 640">
            <image width="64" height="64" xlink:href="https://cdn4.iconfinder.com/data/icons/imod/512/Software/iPhoto.png"/>
          </pattern>
        </defs>
        
        <use xlink:href="#hexfield" fill="yellow"/>
        <use xlink:href="#hexfield" fill="url(#image1)"/>
      
        <use xlink:href="#another" fill="red"/>
        <use xlink:href="#another" fill="url(#image2)"/>
      
      </svg>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>