html, body {
  height: 100%;
  overflow-x: hidden;
}
a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer {
  cursor: pointer;
}
@font-face {
  font-family: 'rocket_clouds_demoregular';
  src: url('/repository/fonts/RocketClouds/rocket_clouds-webfont.woff') format('woff2'),
       url('/repository/fonts/rocket_clouds-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.header {
  position: relative;
  width: 100%;
}

.logo, .nav, .book {
  position: absolute;
  height: 4em;
}

.logo {
  width: 20%;
  background-color:white;
  z-index: 2;
  -webkit-clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%); 
}

.logo > a > img {
  position: absolute;
  margin-left: 0.25em;
  height: 40%;
  top: 50%;
  left: 50%;
  transform: translate(-60%, -50%);
}

.nav {
  width: 88%;
  margin-left: 7%;
  margin-right: 10%;
  background-color: #003360;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 50%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 50%); 
  z-index: 1;
}
.nav-item {
  display: flex;
  height: 50%;
  width: fit-content;
}

.nav-link {
  font-size: 0.35em;
  padding: 0.25em;
  font-weight: 600;
  color: white;
  align-self: center
}

.book {
  position: absolute;
  width: 15%;
  right: 0;
  background-color:#fff;
  z-index: 2;
  color: #1e1e1e;
  -webkit-clip-path: polygon(15% 0%, 100% 0%, 100% 50%, 0% 50%);
  clip-path: polygon(15% 0%, 100% 0%, 100% 50%, 0% 50%); 
}
.hang10 {
  overflow: hidden;
}

.hang10 > img {
  position: absolute;
  top: 52%;
  margin-left: 15%;
  height: 6.3vw;
  animation: side-to-side 2.5s ease-in forwards infinite alternate;
  transform-origin: 50% 130%;
}

@keyframes side-to-side {
  0% { transform: translateY(0px) rotate( 0.0deg) }
  40% { transform: translateY(-102%) rotate( 0.0deg) }
  55% { transform: translateY(-102%) rotate(7.0deg) }  
  70% { transform: translateY(-102%) rotate(-4.0deg) }
  80% { transform: translateY(-102%) rotate(7.0deg) }
  90% { transform: translateY(-102%) rotate(-4.0deg) }
  100% { transform: translateY(-102%) rotate(7.0deg) }
} 

.book-link {
  position: absolute;
  top: 4%;
  margin-left: 9%;
  font-size: 0.4em;
  left: 35%;
  color: #000;
  text-decoration: none;
  font-weight: 600;
  width: 50%;
  padding: 1em;
}

.weather {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: absolute;
  right: 1%;
  color: #fff;
  font-weight: 600;
  margin-top: 3em;
  font-size: 0.75em;
  z-index: 1;
}

.weather > div > img {
  height: 20px;
  width: 20px;
  margin-bottom: 0em;
}

.temp {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 0.2em;
  margin-right: 0.2em;
}

.temp > svg {
  margin-bottom: 0.1em;
}

@media (min-width: 576px) and (max-width: 767px){  
  .logo, .nav, .book {
    height: 4em;
  }
  .logo {
    width: 20%;
  }
  .logo > a > img {
    height: 50%;
  }
  .book {
    width: 18%;
  }
  .book-link {
    top: 5%;
    white-space: nowrap;
    margin-left: 0;
    font-size: 0.5em;
  }
  .nav {
    width: 88%;
    margin-left: 7%;
  }
  .nav-link {
    font-size: 0.45em;
    padding: 0.5em;
    font-weight: 600;
  } 
  .hang10 > img {
    top: 52%;
    margin-left: 15%;
    height: 44%;
  }
  .weather {
    right: 1%;
    margin-top: 3em;
    font-size: 0.75em;
  }
  .weather > div > img {
    height: 20px;
    width: 20px;
    margin-bottom: 0em;
  }
  .temp {
    margin-left: 0.2em;
    margin-right: 0.2em;
  }
  .temp > svg {
    margin-bottom: 0.1em;
  }
}
 
@media (min-width: 768px) and (max-width: 991px) {  
  .logo, .nav, .book {
    height: 6em;
  }
  .logo {
    width: 20%;
  }
  .logo > a > img {
    height: 50%;
    transform: translate(-55%, -50%);
  }
  .book {
    width: 17%;
  }
  .book-link {
    top: 10%;
    font-size: 0.6em;
    margin-left: 0;
    white-space: nowrap;
  }
  .nav {
    width: 88%;
    margin-left: 7%;
  }
  .nav-link {
    font-size: 0.6em;
    padding: 0.6em;
    font-weight: 600;
  } 
  .hang10 > img {
    top: 52%;
    margin-left: 15%;
    height: 44%;
  }
  .weather {
    right: 1%;
    margin-top: 4em;
  }
  .weather > div > img {
    height: 30px;
    width: 30px;
    margin-bottom: 0em;
  }
  .temp {
    margin-left: 0.3em;
    margin-right: 0.3em;
  }
  .temp > svg {
    margin-bottom: 0.1em;
  }
}
 
@media (min-width: 992px) { 
  .logo, .nav, .book {
    height: 6em;
  }
  .logo {
    width: 20%;
  }
  .logo > a > img {
    height: 55%;
    transform: translate(-55%, -50%);
  }
  .book {
    width: 15%;
  }
  .book-link {
    top: 8%;
    font-size: 0.65em;
    margin-left: 0;
    white-space: nowrap;
  }
  .nav {
    width: 80%;
    margin-left: 11%;
  }
  .nav-link {
    font-size: 0.65em;
    font-weight: 600;
    padding: 1em;
  } 
  .hang10 > img {
    position: absolute;
    top: 52%;
    margin-left: 15%;
    height: 45%;
  }
  .weather {
    right: 1%;
    margin-top: 3em;
    font-size: 1em;
  }
  .weather > div > img {
    height: 30px;
    width: 30px;
    margin-bottom: 0em;
  }
  .temp {
    margin-left: 0.3em;
    margin-right: 0.3em;
  }
  .temp > svg {
    margin-bottom: 0.1em;
  }
}
 
@media (min-width: 1200px) {  
  .logo {
    width: 20%;
  }
  .logo > a > img {
    height: 70%;
    transform: translate(-55%, -50%);
  }
  .book {
    width: 18%;
  }
  .nav {
    margin-left: 12%;
  }
  .nav-link {
    font-size: 0.75em;
    font-weight: 600;
    padding: 1em;
  } 
  .book {
    width: 15%;
  }
  .book-link {
    top: 8%;
    font-size: 0.65em;
    margin-left: 0;
    white-space: nowrap;
  }
  .weather {
    right: 1%;
    margin-top: 3em;
    font-size: 1em;
  }
}
@media (min-width: 1570px) {
  .logo, .nav, .book {
    height: 8.5em;
  }
  .logo {
    width: 22%;
  }
  .logo > a > img {
    top: 50%;
    left: 50%;
    height: 75%;
  }
  .nav {
    width: 76%;
    margin-left: 14%;
    margin-right: 10%;
  }
  .nav-item {
    height: 50%;
  }
  .nav-link {
    font-size: 1em;
  }
  .book {
    position: absolute;
    width: 15%;
    right: 0;
  }
  .hang10 > img {
    top: 55%;
    margin-left: 15%;
    height: 4em;
  }
  .book-link {
    top: 6%;
    left: 35%;
    font-weight: 600;
    width: 50%;
    margin-left: 3%;
    padding: 1em;
    font-size: 1em;
    white-space: nowrap;
  }
  .weather {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: absolute;
    right: 1%;
    font-weight: 600;
    margin-top: 4em;
  }
  .weather > div > img {
    height: 40px;
    width: 40px;
    margin-bottom: 0.2em;
  }
  .temp {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
  .temp > svg {
    margin-bottom: 0.2em;
  }
}