html, body
{
    height: 100%;
}

@font-face {
  font-family: 'rocket_clouds_demoregular';
  src: url('/repository/fonts/RocketClouds/rocket_clouds-webfont.woff') format('woff2'),
       url('/repository/fonts/rocket_clouds-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.header {
  position: relative;
  width: 100%;
}

.logo, .nav, .book {
  position: absolute;
  height: 8.5em;
  top: 0;
}

.logo {
  width: 22%;
  background-color:white;
  -webkit-clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%); 
}
.nav {
  width: 76%;
  margin-left: 14%;
  margin-right: 10%;
  background-color: darkblue;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 50%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 50%); 
  z-index: -1;
}
.book {
  position: absolute;
  width: 15%;
  right: 0;
  background-color:#fff;
  color: black;
  -webkit-clip-path: polygon(15% 0%, 100% 0%, 100% 50%, 0% 50%);
  clip-path: polygon(15% 0%, 100% 0%, 100% 50%, 0% 50%); 
}
.hang10 {
  margin-top: 1%;
  margin-left: 18%;
}
.book-link {
  position: absolute;
  top: 20%;
  left: 45%;
  color: #fff;
  font-weight: 600;
  width: 50%;
}

.introPage {
  position: relative;
  width: 100%;
  height: 108%;
  background-image: url('/repository/images/Downtown-Marina-Banner-Slide1.jpg');
  background-size: cover;
  resize: none;
  background-position-y: -2em;
  background-repeat: no-repeat;
  z-index: -2;
}
.weather {
  position: absolute;
  top: 8%;
  left: 90%;
}
.intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} 

.nav-item {
  display: flex;
  flex-shrink: 1;
  height: 50%;
}

.nav-link {
  font-size: 0.8em;
  color: white;
  align-self: center
}
.jumpIn {
  position: absolute;
  bottom: 3em;
  left: 50%;
  font-family: 'rocket_clouds_demoregular';
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  transform: translate(-50%, -50%);
}

.bubble {
  height: 40px;
  width: 40px;
  position: absolute;
  bottom: 0.6em;
  left: 50%;
  color: #fff;
}
.arrowCircle {
  height: 40px;
  width: 40px;
  color: #fff;
  transform: translate(-50%, -50%);
}

.wave {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.w-20 {
  margin-right: 0.75em;
  margin-left: 0.75em;
  object-fit: cover;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20% !important;
      flex: 0 0 20% !important;
  max-width: 18%;
}

.img-fluid {
  object-fit: cover;
  border-radius: 10px;
}

.beachy {
  position: relative;
  width: 100%;
  height: 40em;
  background-color: #000;
}

.slide2 {
  position: absolute;
  width: 60%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  background-size: cover;
  background-image: url('/Elements/01 Home/Downtown-Marina-Banner-Slide2.jpg');
  -webkit-clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%); 
}
.feeling {
  position: absolute;
  width: 60%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: rgb(189, 158, 19);
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%); 
}

.feeling > article {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 50%;
  top: 20%;
  right: 15%;  
}
.feeling > article > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.feeling > article > div > img {
  position: absolute;
  top: -2em;
  right: -2em;
}
.feeling > article > button {
  width: 60%;
  height: 50px;
}

.map-slide {
  position: relative;
  width: 100%;
  height: 35em;
}

.map {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url('/Elements/00 Global/Okanagan-Lake-Doodle-Map.jpg');
  background-size: cover;
  z-index: -1;
}
.text-bubble {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 14%;
  left: 12%;
  height: 67%;
  width: 21.5%;
  background-color: #0080c8;
  border-radius: 0.5em;
}
.bubble-tail {
  position: absolute;
  top: 74.6%;
  left: 10.5%;
}
.stars {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 20%;
  left: 12%;
  height: 10%;
  width: 57%;
}
.stars > svg {
  height: 100%;
  width: 100%;
}
.comment {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 35%;
  left: 13%;
  height: 10%;
  width: 75%;
  color: #fff;
  font-weight: 600;
  font-size: 1.25em;
}
.moorage {
  position: absolute;
  width: 60%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-image: url('/Elements/01 Home/Downtown-Marina-Moorage-Dawn-1600pxW.jpg');
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 91.7% 0%, 67% 100%, 0% 100%);
  opacity: 0.8;
}
.moorage > article {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 50%;
  top: 20%;
  left: 15%;
  color: #fff;
  z-index: 2;
}
.moorage > article > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 2;
}
.fuel-retail {
  position: absolute;
  width: 60%;
  height: 100%;
  top: 0;
  right: 0;
  background-size: 93.5em;
  background-image: url('/Elements/01 Home/Downtown-Marina-Boat-Gas-1600pxW.jpg'); 
  background-position-x: -3em;
  background-position-y: -22em;
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
  z-index: 0;
}
.opaque {
  position: absolute;
  width: 60%;
  height: 100%;
  top: 0;
  right: 0;
  background-color:rgba(0, 0, 0, 0.5);
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
  z-index: 1;
}

.fuel-retail > article {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 50%;
  top: 20%;
  right: 15%;
  color: #fff;
  opacity: 1;
  z-index: 2;
}
.fuel-retail > article > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  opacity: 1;
  z-index: 2;
}
.test {
  position: absolute;
  width: 20%;
  height: 30%;
  top: 10%;
  right: 10%;
  color: #fff;
  z-index: 2;
}
.test2 {
  position: absolute;
  width: 20%;
  height: 30%;
  top: 10%;
  left: 10%;
  color: #fff;
  z-index: 2;
}

.w-40 {
  display: flex;
  position: relative;
  width: 30%;
  margin-left: 1.5em;
  margin-right: 1.5em;
}
.blog-article {
  position: absolute;
  bottom: 5%;
  left: 5%;
  color: #000;
}
.blog {
  margin-bottom: 3em;
}
.interactive-map {
  position: relative;

}
.interactive-map > div {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  top: 50%;
  left: 10%;
}
.interactive-map > div > button {
  height: 3em;
  width: 50%;
}
.rope {
  position: absolute;
  bottom: -3%;
  right: 5%;
}
.instagram-container {
  margin-top: 1em;
  height: 26em;
}
.instagram-row {
  display: flex;
  justify-content: space-around;
  margin-left: 0.75em;
  width: 100%;
  height: 50%;
  margin-bottom: 0.25em;
} 
.instagram-col {
  position: relative;
  height: 100%;
}
.instagram-col > i {
  position: absolute;
  bottom: 3%;
  left: 2%;
  z-index: 1;
  color: #fff;
}
.instagram-col > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 98%;
  height: 100%;
  border-radius: 0.75em;
  z-index: 0;
}
