html, body
{
  height: 100%;
  overflow-x: hidden;
}
a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer {
  cursor: pointer;
}
@font-face {
  font-family: 'rocket_clouds_demoregular';
  src: url('/repository/fonts/RocketClouds/rocket_clouds-webfont.woff') format('woff2'),
       url('/repository/fonts/rocket_clouds-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.header {
  position: relative;
  width: 100%;
}

.logo, .nav, .book {
  position: absolute;
  height: 8.5em;
  top: 0;
}

.logo {
  width: 22%;
  background-color:white;
  z-index: 2;
  -webkit-clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%); 
}
.logo > img {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 75%;
  transform: translate(-60%, -50%);
}
.nav {
  width: 76%;
  margin-left: 14%;
  margin-right: 10%;
  background-color: darkblue;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 50%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 50%); 
  z-index: 1;
}
.book {
  position: absolute;
  width: 15%;
  right: 0;
  background-color:#fff;
  z-index: 2;
  color: black;
  -webkit-clip-path: polygon(15% 0%, 100% 0%, 100% 50%, 0% 50%);
  clip-path: polygon(15% 0%, 100% 0%, 100% 50%, 0% 50%); 
}
.hang10 {
  overflow: hidden;
}
.hang10 > img {
  position: absolute;
  top: 55%;
  margin-left: 15%;
  height: 4em;
  animation: side-to-side 2.5s ease-in forwards infinite alternate;
  transform-origin: 50% 130%;
}

@keyframes side-to-side {
  0% { transform: translateY(0px) rotate( 0.0deg) }
  40% { transform: translateY(-102%) rotate( 0.0deg) }
  55% { transform: translateY(-102%) rotate(7.0deg) }  
  70% { transform: translateY(-102%) rotate(-4.0deg) }
  80% { transform: translateY(-102%) rotate(7.0deg) }
  90% { transform: translateY(-102%) rotate(-4.0deg) }
  100% { transform: translateY(-102%) rotate(7.0deg) }
} 

.book-link {
  position: absolute;
  top: 6%;
  left: 35%;
  color: #000;
  text-decoration: none;
  font-weight: 600;
  width: 50%;
  white-space: nowrap;
  margin-left: 3%;
  padding: 1em;
  font-size: 1em;
}

.introPage {
  position: relative;
  width: 100%;
  height: 108%;
  background-image: url('/repository/images/Downtown-Marina-Banner-Slide1.jpg');
  background-size: cover;
  resize: none;
  background-position-y: -2em;
  background-repeat: no-repeat;
  z-index: -2;
}
.weather {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: absolute;
  right: 1%;
  color: #fff;
  font-weight: 600;
  margin-top: 4.5em;
}
.weather > div > img {
  height: 40px;
  width: 40px;
  margin-bottom: 0.2em;
}
.temp {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.temp > svg {
  margin-bottom: 0.4em;
}

.intro {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  color: #fff;
  font-size: 6em;
  line-height: 0.9;
  font-weight: 1000;
  transform: translate(-50%, -50%);
} 

.nav-item {
  display: flex;
  flex-shrink: 1;
  height: 50%;
}

.nav-link {
  font-size: 1em;
  color: white;
  align-self: center
}
.jumpIn {
  position: absolute;
  bottom: 3em;
  left: 50%;
  font-family: 'rocket_clouds_demoregular';
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  transform: translate(-50%, -50%);
}

.bubble {
  height: 40px;
  width: 40px;
  position: absolute;
  bottom: 0.3em;
  left: 50%;
  color: #fff;
  animation: bounce 1s infinite;
}
@keyframes bounce {
  0%   { transform: translateY(0); }
  10%  { transform: translateY(0); }
  30%  { transform: translateY(-8px); }
  57%  { transform: translateY(-7px); }
  64%  { transform: translateY(0); }
  100% { transform: translateY(0); }
}
.arrowCircle {
  height: 40px;
  width: 40px;
  color: #fff;
  transform: translate(-50%, -50%);
}
.live {
  margin-top: 4em;
}
.live > h1 {
  font-size: 4em;
  font-weight: 700;
  margin-bottom: 0.5em;
}
.live > img {
  margin-bottom: 2em;
}
.live > p {
  width: 70%;
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 3em;
}
.wave {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.w-20 {
  margin-right: 0.75em;
  margin-left: 0.75em;
  object-fit: cover;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20% !important;
      flex: 0 0 20% !important;
  max-width: 18%;
}
.w-20 > p {
  margin-top: 0.5em;
  font-size: 1.25em;
}

.img-fluid {
  object-fit: cover;
  border-radius: 10px;
}

.beachy {
  position: relative;
  width: 100%;
  height: 40em;
  margin-top: 4em;
  background-color: #000;
}

.slide2 {
  position: absolute;
  width: 60%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-image: url('/Elements/01 Home/Downtown-Marina-Banner-Slide2.jpg');
  -webkit-clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%); 
}
.feeling {
  position: absolute;
  width: 60%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: rgb(189, 177, 9);
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%); 
}

.articles {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 50%;
  top: 15%;
  right: 20%;
  color: #fff;
}
.articles > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.articles > div > h1 {
  font-size: 4em;
  font-weight: 800;
  line-height: 0.9;
  margin-bottom: 0.5em;
}
.articles > p {
  width: 90%;
  font-size: 1.2em;
}
.articles > div > img {
  position: absolute;
  top: -2em;
  right: -2em;
}
.articles > form {
  margin-top: 1em;
  width: 15em;
  height: 50px;
  font-size: 1.3em;
  font-weight: 600;
  border: 0.25em solid #fff;
}
.articles > form > input {
  color: #fff;
  height: 100%;
  width: 100%;
  font-weight: 600;
  background-color: transparent;
  border: none;
}
.map-slide {
  position: relative;
  width: 100%;
  height: 35em;
}

.map {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url('/Elements/00 Global/Okanagan-Lake-Doodle-Map.jpg');
  background-size: cover;
  z-index: -1;
}
.text-bubble {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 14%;
  left: 12%;
  height: 67%;
  width: 21.5%;
  background-color: #0080c8;
  border-radius: 0.5em;
}
.bubble-tail {
  position: absolute;
  top: 74.6%;
  left: 10.5%;
}
.stars {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 20%;
  left: 12%;
  height: 10%;
  width: 57%;
}
.stars > svg {
  height: 100%;
  width: 100%;
}
.comment {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 35%;
  left: 13%;
  height: 10%;
  width: 75%;
  color: #fff;
  font-weight: 600;
  font-size: 1.25em;
}
.slide3 {
  margin-top: 0;
}
.moorage {
  position: absolute;
  width: 60%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-image: url('/Elements/01 Home/Downtown-Marina-Moorage-Dawn-1600pxW.jpg');
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 91.7% 0%, 67% 100%, 0% 100%);
  opacity: 0.6;
}
.moorage > article {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 50%;
  top: 20%;
  left: 15%;
  color: #fff;
  z-index: 2;
}
.moorage > article > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 2;
}
.fuel-retail {
  position: absolute;
  width: 60%;
  height: 100%;
  top: 0;
  right: 0;
  background-size: 93.5em;
  background-image: url('/Elements/01 Home/Downtown-Marina-Boat-Gas-1600pxW.jpg'); 
  background-position-x: -3em;
  background-position-y: -22em;
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
  z-index: 0;
}
.opaque {
  position: absolute;
  width: 60%;
  height: 100%;
  top: 0;
  right: 0;
  background-color:rgba(0, 0, 0, 0.5);
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
  z-index: 1;
}

.fuel-retail > article {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 50%;
  top: 20%;
  right: 15%;
  color: #fff;
  opacity: 1;
  z-index: 2;
}
.fuel-retail > article > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  opacity: 1;
  z-index: 2;
}
.position {
  position: absolute;
  width: 30%;
  height: 30%;
  top: 23%;
  right: 10%;
  color: #fff;
  z-index: 2;
}
.position2 {
  position: absolute;
  width: 20%;
  height: 30%;
  top: 23%;
  left: 10%;
  color: #fff;
  z-index: 2;
}
.position2 > p {
  width: 130%;
}

.blog-grid {
  display: flex;
  width: 100%;
  margin-top: 4em;
  margin-bottom: 5em;
  flex-direction: row;
  justify-content: center;
}
.blog-item {
  position: relative;
  margin-left: 1em;
  margin-right: 1em;
}
.blog-article {
  position: absolute;
  bottom: 5%;
  left: 5%;
  color:#fff;
}
.blog-date {
  font-size: 1.25em;
  margin-bottom: 0.3em;
}
.blog-title > a {
  text-decoration: none;
  color: #fff;
  font-size: 2.5em;
  font-weight: 600;
  line-height: 0.7;
}
.interactive-map {
  position: relative;
  width: 100%;
  height: 33em;
  background-image: url("/Elements/07 Interactive Map/Interactive-Map-BG.jpg");
}
.map2 {
  width: 100%;
  height: fit-content;
}
.interactive-map > div {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  top: 50%;
  left: 15%;
  transform: translate(0, -50%);
}
.interactive-map > div > h1 {
  color: #fff;
  font-size: 2.5em;
  font-weight: 600;
  line-height: 0.7;
}
.interactive-map > div > form {
  margin-top: 1em;
  width: 15em;
  height: 50px;
  font-size: 1.3em;
  border: 0.25em solid #fff;
  color:#fff
}
.interactive-map > div > form > input {
  color: #fff;
  height: 100%;
  width: 100%;
  font-weight: 600;
  background-color: transparent;
  border: none;
}
.rope {
  position: absolute;
  bottom: -3%;
  right: 5%;
}
.instagram-container {
  display: flex;
  margin-top: 1em;
  height: 36em;
  width: 1800px;
  margin-left: 1em;
  margin-right: 1em;
}
.instagram-grid {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%
}
.instagram-row-1, .instagram-row-2 {
  display: flex;
  flex-direction: row;
  height: 50%;
  width: 100%;
  margin-bottom: 0.25em;
} 
.instagram-col {
  display: flex;
  background-size: cover;
  width: 100%;
  height: 100%;
  align-items: flex-end;
  border-radius: 0.5em;
  margin-left: 0.125em;
  margin-right: 0.125em;
}
.instagram-col > i {
  margin-left: 0.3em;
  margin-bottom: 0.3em;
  z-index: 1;
  color: #fff;
}

.ratings {
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 15em;
}
.ratings-row {
  display: flex;
  height: 15em;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.widget {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15em;
}
.widget-app {
  position: absolute;
  top: 12%;
  left: 0;
}
.ratings-col {
  display: flex;  
  flex-direction: column;
  justify-content: space-around;
}
.ratings-col > h1 {
  font-weight: 600;
}
.ratings-col > form {
  display: flex;
  align-items: center;
  margin-top: 0.6em;
  height: 4em;
}

.ratings-col > form > input {
  height: 100%;
  width: 100%;
  text-decoration: none;
  text-align: start;
  font-size: 1.5em;
  font-weight: 600;
  background-color: gray;
  border: none;
  color: #fff;
  padding-left: 0.5em;
}
.advisor-div {
  border-radius: 0.75em;
  background-color: #0080c8;
  margin-top: 1em;
}
.advisor {
  margin: 1em;
  margin-left: 1.5em;
  margin-right: 1.5em;
  height: 15em;  
}
.footer {
  position: relative;
  margin-top: 5em;
  height: 30em;
  background-image: url("/Elements/00 Global/Footer-Wave-BG.png");
  overflow: hidden;
}
.sun {
  position: absolute;
  right: 20%;
  top: 12%;
  height: 12em;
  width: 12em;
}
.surfboard {
  position: absolute;
  bottom: -12%;
  right: 11%;
  height: 22em;

}
.footer-content {
  display: flex;
  position: absolute;
  top: 10%;
  left: 10%;
  width: 60%;
  flex-direction: row;
}
.contact-info {
  display: flex;
  flex-direction: column;
  width: 20em;
  margin: 1em;
}
.contact-row {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.contact-row > div {
  flex-shrink: 2;
}
.footer-icon {
  align-self: flex-start;
  margin-right: 0.5em;
  margin-top: 0.2em;
}
.footer-links {
  display: flex;
  flex-direction: column;
  width: 22em;
  margin: 1em;
  margin-top: 3.7em;
  }
.footer-links2 {
  display: flex;
  flex-direction: column;
  width: 40em;
  margin: 1em;
  margin-top: 3.7em;
  }
.footer-links > a {
  color: #000;
  margin-top: 0.8em;
}
.footer-links2 > a {
  color: #000;
  margin-top: 0.8em;
}
.tips {
  color: #000;
  margin-left: 1em;
}


